{% extends '@Inscription/layout.html.twig' %}

{% block content %}
    <div class="container-fluid w3-border">
        <div class="row">
            <div class="col-sm-12 w3-margin">
            {% include ':layoutAdmin/inscription:navbar.html.twig' %}
            </div>
        </div>
        {% include '@Inscription/Inscription/Fiche/Form/fiche.html.twig' %}
        <div class="row w3-margin" id="register">
            <div class="col-sm-4">
                <a href="{{ path('inscription_enfant', {'parent_id':parent_id}) }}"><button class="w3-button w3-block w3-black" style="width:100%">Ajouter un enfant</button></a>
            </div>
            <div class="col-sm-4">
                <a href="{{ path('parent_insc') }}" ><button class="w3-button w3-block w3-black" style="width:100%">Nouvelle inscription</button></a>
            </div>
            <div class="col-sm-4"><button class="w3-button w3-block w3-black" style="width:100%">Imprimer en PDF</button></div>
        </div>
    </div>

    <script>
        $(function () {
          /*  $("#insc").addClass("w3-disabled");
            $("#enfant").addClass("w3-disabled");
            $("#parent").addClass("w3-disabled");
            $("#mensualite").addClass("w3-disabled");*/
        });
    </script>
{% endblock %}