{% extends '@Inscription/layout.html.twig' %}

{% block content %}
    {% set parent_id = app.session.get('parent_id') %}
    {% set enfant_id = app.session.get('enfant_id') %}
    <div class="container-fluid w3-light-gray W3-margin">
        <div class="row w3-margin">
            <div class="col-sm-12">
                <div class="w3-bar" style="margin-left: -16px">
                    <a href="{{ path('parent_update', {'id':parent_id}) }}"><button id="parent" class="w3-bar-item w3-button w3-green" style="width:20%"><span class="w3-badge w3-yellow ">1</span>&nbsp;&nbsp;&nbsp;PARENT</button></a>
                    <a href="{{ path('modifier_enfant', {'id':enfant_id}) }}"><button id="enfant" class="w3-bar-item w3-button w3-yellow" style="width:20%"><span class="w3-badge w3-yellow ">2</span>&nbsp;&nbsp;&nbsp;ENFANTS</button></a>
                    <button id="insc" class="w3-bar-item w3-button w3-green" style="width:20%"><span class="w3-badge w3-yellow">3</span>&nbsp;&nbsp;&nbsp;INSCRIPTION</button>
                    <button id="mensualite" class="w3-bar-item w3-button w3-yellow" style="width:20%"><span class="w3-badge w3-yellow ">4</span>&nbsp;&nbsp;&nbsp;MENSUALITÉ</button>
                    <button id="fiche" class="w3-bar-item w3-button w3-green" style="width:20%"><span class="w3-badge w3-yellow ">5</span>&nbsp;&nbsp;&nbsp;FICHE</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% include '@Inscription/Inscription/Mensualite/Form/form.html.twig' %}
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $("#parent").addClass();
            $("#enfant").addClass();
            $("#insc").addClass();
            $("#fiche").addClass();
           // $(".form-group .control-label").hide();
            $("#inscriptionbundle_mensualite_niveau_matieres").hide();
        });
    </script>
{% endblock %}