{% extends '@Inscription/layout.html.twig' %}

{% block content %}
    <div class="container-fluid w3-light-gray W3-margin">
        <div class="row w3-margin">
            <div class="col-sm-12">
                {% include ':layoutAdmin/inscription:navbar.html.twig' %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% include '@Inscription/Inscription/Mensualite/Form/form.html.twig' %}
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $("#parent").addClass();
            $("#enfant").addClass();
            $("#insc").addClass();
            $("#fiche").addClass();
           // $(".form-group .control-label").hide();
            $("#inscriptionbundle_mensualite_niveau_matieres").hide();
        });
    </script>
{% endblock %}