{% extends '@Inscription/layout.html.twig' %}

{% block content %}
    <div class="w3-container w3-margin-top">
        <table class="w3-table-all w3-card-4">
            <thead>
            <tr class="w3-green">
                <th>Libelle</th><th>Descrition</th><th>Coefficient</th><th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for matiere in matieres %}
                <tr>
                    <td>{{ matiere.libelle }}</td>
                    <td>{{ matiere.description }}</td>
                    <td>{{ matiere.coefficient }}</td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row w3-margin-top" id="register">
            <div class="col-sm-4">
                <a href=""><button class="w3-button w3-block w3-blue" style="width:100%">Ajouter une matière</button></a>
            </div>
        </div>
    </div>
{% endblock %}
