<div class="w3-bar">
    <button id="parent" class="w3-bar-item w3-button w3-green" style="width:33.3%"><span class="w3-badge w3-yellow ">1</span>&nbsp;&nbsp;&nbsp;PARENT</button>
    <button id="enfant" class="w3-bar-item w3-button w3-yellow" style="width:33.3%"><span class="w3-badge w3-yellow ">2</span>&nbsp;&nbsp;&nbsp;ENFANTS</button>
    <button id="insc" class="w3-bar-item w3-button w3-green" style="width:33.3%"><span class="w3-badge w3-yellow w3-disabled">3</span>&nbsp;&nbsp;&nbsp;INSCRIPTION</button>
</div>