{% extends '::base.html.twig' %}

{% block body %}
    {% include 'layout/header.html.twig' %}
    {% include 'layoutAdmin/menu.html.twig' %}
    <div class="container-fluid text-left">
        <div class="row content">
            <div class="col-sm-12">
                {% block content %}{% endblock %}
            </div>
    {#{% include 'layoutAdmin/sidebar_right.html.twig' %}#}
        </div>
    </div>
{% endblock %}