{% extends '@Inscription/layout.html.twig' %}

{% block content %}
    {% set parent_id = app.session.get('parent_id') %}
    {% set enfant_id = app.session.get('enfant_id') %}
    <div class="container-fluid text-left">
        <div class="row">
            <div class="col-sm-12 w3-margin">
                {% include '@Inscription/Inscription/menu-step.html.twig' %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% include '@Inscription/Inscription/Enfant/form/enfant.html.twig' %}
            </div>
        </div>
    </div>

    <script>
        $(function () {
            //  $("#parent").addClass("w3-disabled");
            $("#enfant").addClass("w3-red");
            //$("#insc").addClass("w3-disabled");
            //  $("#mensualite").addClass("w3-disabled");
            //  $("#fiche").addClass("w3-disabled");
        });
    </script>
{% endblock %}