{% extends '@Inscription/layout.html.twig' %}

{% block content %}
    <div class="container w3-light-grey">
        <div class="row">
            <div class="col-sm-12 w3-margin">
                {% include ':layoutAdmin/inscription:navbar.html.twig' %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% include '@Inscription/Inscription/Parent/form/parent.html.twig' %}
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $("#enfant").addClass("w3-disabled");
            $("#insc").addClass("w3-disabled");$("#enfant").addClass("w3-disabled");
        });
    </script>
{% endblock %}