{% extends '@Inscription/layout.html.twig' %}

{% block content %}
    <div class="w3-card-4 w3-margin-top">

        <header class="w3-container w3-yellow">
            <h4>GESTION</h4>
        </header>

        <div class="w3-container w3-margin-top">
            <div class="row">
                <div class="col-sm-4">
                    <div class="well">
                        <p><a href="{{ path('admin_parent_enfant') }}">PARENTS & ENFANTS</a></p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well">
                        <p>ADULTES</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well">
                        <p>ADS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}