{% extends '@Inscription/layout.html.twig' %}

{% block content %}
    <div class="w3-card-4 w3-margin-top">

        <header class="w3-container w3-blue">
            <h4>Gestion de l'école</h4>
        </header>

        <div class="w3-container w3-margin-top">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" id="home">Les stats</a></li>
                    <li id="inscrit"><a data-toggle="tab" href="#inscrits">Les Inscrits</a></li>
                    <li><a data-toggle="tab" href="#menu2">Les Parents</a></li>
                    <li><a data-toggle="tab" href="#menu3">Les Classes</a></li>
                </ul>

                <div class="tab-content">
                    <div id="home1" class="tab-pane fade in active">
                        <h3>HOME</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div id="inscrits" class="tab-pane fade">

                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <h3>Menu 2</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    </div>
                    <div id="menu3" class="tab-pane fade">
                        <h3>Menu 3</h3>
                        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    </div>
                </div>
        </div>
    </div>
    {% block javascripts %}
        <script>
            $(function () {
                $.ajax({
                    url: '{{ path('api_les_inscrits') }}',
                    dataType: 'json',
                    success: function (data) {
                        var table = $('<table class="w3-table-all w3-card-4" id="id01">')
                        table.append('<tr class="w3-green"><th>Nom & Prenom</th></th><th>Classe</th><th>Inscription</th><th>Année</th><th>Inscrit le</th><th>Payer</th></tr>')
                        $(data).each(function (index, element) {
                            table.append('<tr><td>' + this.nom+' '+ this.prenom + '</td><td>' + this.classe + '</td><td>' + this.frais + '</td><td>' + this.annee + '</td><td>' + this.createdAt + '</td><td>' + this.paye + '</td>')
                            $("#inscrits").append(table);
                        })
                    }

                });
            });
        </script>
        {% endblock %}
{% endblock %}