{% extends '@Inscription/layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            {% include ':layoutAdmin/inscription:navbar.html.twig' %}
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% include '@Inscription/Inscription/Enfant/form/enfant.html.twig' %}
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $("#insc").addClass("w3-disabled");$("#parent").addClass("w3-disabled");
        });
    </script>
{% endblock %}
